<!DOCTYPE HTML>
<html>
	<head>
		<title>Dreams Interpreter</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/ng-tags-input.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script src="https://unpkg.com/nlp_compromise@latest/builds/nlp_compromise.min.js"></script>
   		<script src="assets/js/ng-tags-input.js"></script>
		<script src="assets/js/tags.js"></script>
	</head>
	<body ng-app="myApp" ng-controller="MyCtrl as todoList">

			<header id="header">
				<h1>Dreams Interpreter</h1>
				<p>Welcome. We Will Tell You How Probable Your Dream Is<br /></p>
			</header>

			<form id="search" method="post" ng-submit="todoList.alert()" action="./result.html">
				<input type="text" id="email" ng-model="todoList.dreamtext" placeholder="Tell us about your dream" ng-change="todoList.processText()"/>
				<input type="submit" value="submit" />
			</form>
			<section id="tagsbg">
				<tags-input class="bootstrap"
                ng-model="todoList.tags"
                placeholder="Add a Tag"
                replace-spaces-with-dashes="false">
       				 <!-- <auto-complete source="loadTags($query)"></auto-complete> --> 
   				</tags-input>
			</section>
			<script src="assets/js/main.js"></script>

	</body>
</html>